<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
Layout/
Synthesis/
tools/
Cadence/

Validation/

.harbor/
.cadence/
*.log*
logs_*/
.nodeIdDynamicRanges
.abstract/
.pcdb/
.*.auCdl
.tmp*
ihnl/
map/
raw/
si.env
.cgidrcdb
.cgilvsdb

.nfs*